<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vuejs Example</title>
	<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>

	<!-- component template -->
	<script type="text/x-template" id="grid-template">
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th v-for="key in columns"
	          @click="sortBy(key)"
	          :class="{ active: sortKey == key }">
	          {{ key | capitalize }}
	          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
	          </span>
					</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr v-for="entry in filteredData">
	        <td v-for="key in columns">
	          <div v-if="key=='id'"> 
	          	<a :href="'https://goodinfo.tw/StockInfo/StockDividendSchedule.asp?STOCK_ID='+entry[key]" target="_blank">{{entry[key]}}</a>
						</div>
						<div v-else-if="key=='cmoney'"> 
							<a :href="'http://www.cmoney.tw/follow/channel/stock-'+entry['id']" target="_blank">{{entry['id']}}</a>
						</div>
						<div v-else-if="key=='statementdog'"> 
							<a :href="'https://statementdog.com/analysis/tpe/'+entry['id']+'/stock-health-check'" target="_blank">{{entry['id']}}</a>
						</div>
	          <div v-else> 
	          	{{entry[key]}} 
	          </div>
					</td>
	      </tr>
	    </tbody>
	  </table>
	</script>

	<!-- demo root element -->
	<div id="demo">
	  <form id="search">
	    Search <input name="query" v-model="searchQuery">
	  </form>
	  <demo-grid
	    :data="gridData"
	    :columns="gridColumns"
	    :filter-key="searchQuery">
	  </demo-grid>
	</div>

	<script src='index.min.js'></script>
</body>
</html>